<head>
<meta charset="UTF-8">
<style type="text/css">		/*cannot this file connect to webpage*/
<!--list-->
L1.list1{
	color:orange;
	list-style: square outside;
}
L1.list2{
	color:yellow;
	list-style: circle outside;
}
L1.list3{
	list-style:decimal outside;
	color:green
}
L1.list4{
	color:peachpuff;
	list-style:square outside;
}
L1.list5{
	color:lemonchiffon;
	list-style:circle outside;
}
L1.list6{
	color:tomato;
	list-style:decimal outside;
}
<!--headers-->
#try{font: Tahoma 24pt;
 	color:white;
}

</style>
</head>
